.Button {
  align-items: center;
  background: #333;

  // border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  width: 100%;
  transition: all 0.3s ease-in;
  &:active {
    background-color: #aaa;
  }

  &.zero {
    width: 250px;
    grid-column: 1 / span 2;
    width: 100%;
    position: relative;
    justify-content: flex-start;
    padding-left: 43px;
  }

  &.function {
    color: black;
    background: #a5a5a5;
    &:active {
      background-color: #dadada;
    }
  }

  &.operator {
    background: #f1a33c;
    &:active {
      background-color: #ffd39b;
    }
  }
}
