.Button {
  align-items: center;
  background: #333;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  width: 100%;
  transition: filter 0.3s ease-in;
  &:active,
  &:focus {
    filter: brightness(120%);
  }

  &.zero {
    width: 100%;
    grid-column: 1 / span 2;
    position: relative;
    justify-content: flex-start;
    padding-left: 43px;
  }

  &.function {
    color: black;
    background: #a5a5a5;
  }

  &.operator {
    background: #f1a33c;
  }
}
