.wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: center;
  align-items: center;

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    .nav-link {
      padding: 8px;
      text-decoration: none;
      color: #999;
      border-radius: 4px;
    }

    .active {
      background-color: #f1a33c;
      color: #fff;
    }
  }
}
